body,
html,
#root {
	height: 100%;
	margin: 0;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

body {
	background: rgb(180, 187, 205);
	background: linear-gradient(
		0deg,
		rgb(180, 187, 205) 58%,
		rgba(110, 119, 136, 1) 78%,
		rgba(58, 68, 80, 1) 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
