body,
html,
#root {
	height: 100%;
	margin: 0;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

/* Estilos para la parte del cliente */
.client-body {
	background: rgb(200, 190, 220);
	background: linear-gradient(
		0deg,
		rgba(200, 190, 220, 1) 60%,
		rgba(170, 160, 200, 1) 85%,
		hsl(252, 26%, 21%) 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Estilos para la parte del dashboard */
.dashboard-body {
	background: #dbd5ea;
}
